.menu-item1:hover {
    -fx-border-color:#077187;
    -fx-border-width: 0px 0px 3px 0px;
}

.menu-item2:hover {
    -fx-border-color:#78BC61;
    -fx-border-width: 0px 0px 3px 0px;
}

.menu-item3:hover {
    -fx-border-color:#574B60;
    -fx-border-width: 0px 0px 3px 0px;
}

.menu-item4:hover {
    -fx-border-color: #e8c731;
    -fx-border-width: 0px 0px 3px 0px;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    /*-fx-table-cell-border-color: transparent;*/
    -fx-table-header-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: #5598b8;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.table-view .column-header-background {
    -fx-background-color: #5598b8;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30pt;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-cell {
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 12px "Segoe UI Symbol";
    -fx-text-fill: #2f2484;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.combo-box,
.choice-box {
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-background-color: none;

}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: black;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #4d4d4d;
}

.spinner {
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: none;
    -fx-padding: 0 0 3 0;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #2F2484;
    -fx-font-size: 20px;
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #bdbdbd;
    -fx-font-size: 20px;
}

#dataPane{
    -fx-background-color: white;
    -fx-background-radius: 50px;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.insertBtn{
    -fx-background-color: #5598b8;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 22px;
}

.progress-bar{
    -fx-pref-height: 10px;
    -fx-pref-width: 300px;
    -fx-background-color: #FFFFFF00;
}

.progress-bar .track{
    -fx-background-color: #FFFFFF00;
}


.progress-bar .bar{
    -fx-background-color: #226bbb;
}

.highlight-rectangle{
    -fx-background-color: derive(-primary, 50%);
    -fx-background-radius: 5px;
}

/* Modificar el color de fondo del área del Panel de TabPane */
.tab-pane {
    -fx-background-color: rgba(255, 255, 255, 0);
}
/* Modificar el color de fondo de la pestaña */
.tab {
    -fx-background-color: #fff6f6;
}
/* Modificar el color de fondo de la barra superior */
/*.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, rgba(85, 152, 184, 0);
}*/
/* Modificar el color del texto en la pestaña */
.tab-label {
    -fx-text-fill: #000000;
    -fx-font-size: 15px;

}
/* Selector secundario, seleccione su etiqueta de elemento secundario cuando se selecciona Tabulador */
.tab:selected .tab-label {
    -fx-text-fill: #ffffff;
}
/* Establecer el color de fondo cuando se selecciona la pestaña */
.tab:selected {
    -fx-background-color: #5598b8;
    -fx-text-fill: #ffffff;
}

/* Cuando se selecciona Tab, seleccione su borde y modifique el estilo */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #4d1a4dff;
}

.border-bottom{
    -fx-border-width:0 0 2 0;
    -fx-border-color: linear-gradient(#226bbb,#fff6f6,#78BC61);
}

.gradient{
    -fx-background-color: linear-gradient(to top, #676767, transparent);
}
